apiVersion: apps/v1
kind: Deployment
metadata:
  name: { { include "mcp-server.fullname" . } }
spec:
  replicas: { { .Values.replicaCount } }
  selector:
    matchLabels:
      app: { { include "mcp-server.name" . } }
  template:
    metadata:
      labels:
        app: { { include "mcp-server.name" . } }
    spec:
      containers:
        - name: mcp-server
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /health
              port: 80
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 80
            periodSeconds: 30
